<nav class="navbar fixed-top navbar-expand-lg navbar-adept">
  <div class="container-fluid">
    <%= link_to(raw("<h1>Adept</h1>"), root_path, class: "navbar-brand") %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-fw fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Map</a>
        </li>
        <li class="nav-item line-separator">
            <a class="nav-link" href="#">About Us</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item">
            <a class="nav-link" href="#">My profile</a>
          </li>
          <li class="nav-item">
            <%= link_to "Logout", destroy_user_session_path, class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to (new_user_session_path), class: "nav-link" do %>
              <i class="fa-solid fa-right-to-bracket d-lg-none d-inline-block"></i> Login
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to (new_user_registration_path), class: "nav-link" do %>
              <i class="fa-solid fa-user-plus d-lg-none d-inline-block"></i> Sign up
            <% end %>
          </li>
        <% end %>
      </ul>
      </div>
  </div>
</nav>
