<nav class="navbar navbar-expand-lg navbar-adept">
  <div class="container-fluid">
    <%= link_to(raw("<h1>Adept</h1>"), root_path, class: "navbar-brand", aria: { label: "Adept logo. Returns to home" }) %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-fw fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" aria-label="Options">
        <li class="nav-item">
          <%= link_to (root_path), class: "nav-link d-flex justify-content-between align-items-center" do %>
            Home
            <i class="fa-solid fa-arrow-right fa-fw d-lg-none"></i>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to (venues_path), class: "nav-link d-flex justify-content-between align-items-center" do %>
            Venues
            <i class="fa-solid fa-arrow-right fa-fw d-lg-none"></i>
          <% end %>
        </li>
        <li class="nav-item line-separator">
          <%= link_to (nil), class: "nav-link d-flex justify-content-between align-items-center" do %>
            About Us
            <i class="fa-solid fa-arrow-right fa-fw d-lg-none"></i>
          <% end %>
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0" aria-label="User settings">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to (nil), class: "nav-link" do %>
              <i class="fa-solid fa-user fa-fw d-lg-none d-inline-block"></i>My profile
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to (destroy_user_session_path), class: "nav-link", data: { turbo_method: :delete } do %>
              <i class="fa-solid fa-sign-out fa-fw d-lg-none d-inline-block"></i>Logout
            <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to (new_user_session_path), class: "nav-link" do %>
              <i class="fa-solid fa-sign-in fa-fw d-lg-none d-inline-block"></i>Login
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to (new_user_registration_path), class: "nav-link" do %>
              <i class="fa-solid fa-user-plus fa-fw d-lg-none d-inline-block"></i>Sign up
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
