<nav class="navbar navbar-expand-lg navbar-enabl">
  <div class="container-fluid">

    <%# LOGO / HOMEPAGE LINK  %>
    <div class="nav-el">
      <%= link_to(image_tag("enabl-master-image.png", class:"enabl-logo"), root_path, class: "navbar-logo", aria: { label: "Enabl logo. Returns to home" }) %>
    </div>

    <%# TOGGLE FOR SMALLER SCREENS %>
    <div class="nav-el">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-fw fa-bars"></i>
      </button>
    </div>

    <%# NAV BAR OPTIONS %>
    <div class="collapse navbar-collapse nav-el" id="navbarNavAltMarkup">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" aria-label="Options">

        <%# MAP %>
        <li class="nav-item">
          <%= link_to (venues_path), class: "nav-link d-flex justify-content-between align-items-center" do %>
            <i class="fa-light fa-map-location-dot fa-lg" style="color: #000000;"></i>Map
            <i class="fa-solid fa-arrow-right fa-fw d-lg-none"></i>
          <% end %>
        </li>

        <%# FEATURED %>
        <li class="nav-item">
          <%= link_to (featured_path), class: "nav-link d-flex justify-content-between align-items-center" do %>
            <i class="fa-light fa-lightbulb-on fa-lg" style="color: #000000;"></i>Featured
            <i class="fa-solid fa-arrow-right fa-fw d-lg-none"></i>
          <% end %>
        </li>

        <%# ABOUT %>
        <li class="nav-item">
          <%= link_to (about_path), class: "nav-link d-flex justify-content-between align-items-center" do %>
            <i class="fa-light fa-circle-info fa-lg" style="color: #000000;"></i>About
            <i class="fa-solid fa-arrow-right fa-fw d-lg-none"></i>
          <% end %>
        </li>

        <%# USER DROPDOWN MENU %>
        <li class="dropdown nav-item">
          <button class="btn btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%#= image_tag(current_user.photo) %>
              <i class="fa-light fa-user fa-xl" style="color: #000000;"></i>
          </button>
          <ul class="dropdown-menu">
            <% if user_signed_in? %>
              <%# MY PROFILE %>
              <li class="user_option">
                <%= link_to user_path(current_user), class: "nav-link" do %>
                  <i class="fa-light fa-user-magnifying-glass" style="color: #000000;"></i>My profile
                <% end %>
              </li>
              <%# LOGOUT %>
              <li class="user_option">
                <%= link_to (destroy_user_session_path), class: "nav-link", data: { turbo_method: :delete } do %>
                  <i class="fa-light fa-arrow-right-from-bracket" style="color: #000000;"></i>Logout
                <% end %>
              </li>
            <% else %>
            <%# SIGN UP %>
              <li class="user_option">
                <%= link_to (new_user_registration_path), class: "nav-link" do %>
                  <i class="fa-light fa-user-plus" style="color: #000000;"></i>Sign up
                <% end %>
              </li>
              <%# LOGIN %>
              <li class="user_option">
                <%= link_to (new_user_session_path), class: "nav-link" do %>
                  <i class="fa-light fa-right-to-bracket" style="color: #000000;"></i>Login
                <% end %>
              </li>
            <% end %>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>
