<div class="container">
  <h2 class="tag-line">A community driven solution for an inclusive future</h2>
  <!-- Banner -->
  <div class="banner">
    <div class="intro">
      <form action="/venues" method="get">
        <div class="input-group search-bar-total mb-3">
          <input type="text" class="form-control search-bar" name="query" placeholder="Where do you want to go..?" aria-label="Where do you want to go..?" aria-describedby="search">
          <button class="input-group-text mapabl-btn small" id="search">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>
      </form>
    </div>
  </div>

    <!-- What is MapAbl? -->
    <div class="card-homepage">
      <%= image_tag('picture_stand_in.jpg', alt: "To Be Updated!!!") %>
      <div class="card-homepage-infos">
        <h2 class="el">What is MapAbl?</h2>
        <p class="el"> MapAbl is a platform that allows users to find and add
          accessible venues around the world!
          Whether you are looking for a restaurant for a
          date or a gym to get the gains, MapAbl will help you
          locate one in your area.
        </p>
        <%= link_to "Find Out More", about_path, class: "el mapabl-btn-purple large", alt: "Click to find out more" %>
      </div>
    </div>

    <!-- Find, Visit and Review! -->
    <div class="card-homepage">
      <div class="card-homepage-infos">
        <h2 class="el">Find, Visit and Review!</h2>
        <p class="el"> Did somewhere go above and beyond? Why not
        leave a rating and review so that other users can
        check it out?

        You could even take a photo of the great access
        features they have!
        </p>
        <%= link_to "Search", venues_path, class: "el mapabl-btn-purple large", alt: "Click to search your local area" %>
      </div>
      <%= image_tag('picture_stand_in.jpg', alt: "To Be Updated!!!") %>
    </div>

    <!-- Featured Venues in Your Area -->
    <div class="card-homepage">
      <%= image_tag('picture_stand_in.jpg', alt: "To Be Updated!!!") %>
      <div class="card-homepage-infos">
        <h2 class="el">Featured Venues in Your Area</h2>
        <p class="el"> See the venues near you that have great ratings!

        Why not check them out for yourself and see what all
        the fuss is about...
        </p>
        <%= link_to "Take a look", featured_path, class: "el mapabl-btn-purple large", alt: "Click to find featured venues" %>
      </div>
    </div>
  </div>
</div>
