<div class="info-container d-flex justify-content-between">
  <div class="venue-image-wrapper">
    <% if venue.photos.first == nil %>
      <%= image_tag('venue_placeholder_img.jpg', alt: "An image of a building outline", class: "venue-image") %>
    <% else %>
      <%= cl_image_tag venue.photos.first.key, alt: "An image of #{venue.name}", class: "venue-image" %>
    <% end %>
  </div>
  <div class="info-container-right p-1">
      <div>
        <h5><%= venue.name %></h5>
        <p><i class="fa-solid fa-location-dot" style="color: red;"></i> <%= venue.address %></p>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <p><%= pluralize(venue.reviews.count, 'review') %></p>
      </div>

      <%= link_to "Details", venue_path(venue), class:"adept-btn medium info-cont-link" %>
    </div>

  </div>
</div>
