<% content_for :meta_title, "MapAbl | Venues" %>
<div class="row">
  <div class="col-3 filter-section">
    <h3>Filter</h3>
    <br>
    <h4>Accessibility Feature</h4>
    <% @accessibility_features.each do |feature| %>
      <form action="">
        <div data-controller="filter">
          <input type="hidden" id="feature" name="feature" value="<%= feature.feature %>">
          <button type="submit" data-action="click->filter#toggle" data-filter-target="togglableElement"
          id="<%= feature.id %>" class="btn filter-btn w-100" aria-checked="false" autocomplete="off">
            <i class="<%= feature.icon_creater(feature.feature) %>"></i>&nbsp;&nbsp;<%= feature.feature %>
          </button>
        </div>
        <br>
      </form>
    <% end %>
    <br>
    <h4>Venue Type</h4>
    <% @venue_categories.each do |category| %>
      <form action="">
        <div data-controller="filter">
          <input type="hidden" id="venue_type" name="venue_type" value="<%= category.venue_type %>">
          <button type="submit" data-action="click->filter#toggle" data-filter-target="togglableElement"
          id="<%= category.id %>" class="btn filter-btn w-100" aria-checked="false" autocomplete="off">
            <i class="<%= category.icon_creater(category.venue_type) %>"></i>&nbsp;&nbsp;<%= category.venue_type %>
          </button>
        </div>
        <br>
      </form>

    <% end %>

    </div>
  </div>

  <div class="col-9">
    <a href="/venues/new" class="mapabl-btn-purple add-venue-btn" alt="Add a venue"><i class="fa-sharp fa-regular fa-plus" style="color: #ffffff;"></i></a>
    <%= render "map" %>
  </div>
</div>
