<% content_for :meta_title, "Adept | Venues" %>
<div style="position: relative";>
  <div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
          Filter
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body">
          <form class="filter-form">
            <div class="filter-menu">
              <div class="access-section">
                <h3 class="text-center">Accessibility Requirements</h3>
                <div class="btn-group-vertical" role="group" aria-label="Accessibility criteria options">
                  <% @accessibility_features.each do |feature| %>
                    <div class="form-check">
                      <input type="checkbox" class="btn-check" id="<%= feature.id %>" name="feature<%= feature.id %>" value="1" />
                      <label class="invert-bubble btn" for="<%= feature.id %>"><%= feature.feature %></label>
                    </div>
                  <% end %>
                </div>
              </div>
              <div class="venue-type-section">
                <h3 class="text-center">Type of Venue</h3>
                <div class="btn-group-vertical" role="group" aria-label="Venue type options">
                  <% @venue_categories.each do |category| %>
                    <div class="form-check">
                      <input type="checkbox" class="btn-check" id="<%= category.id %>" name="category<%= category.id %>" value="1" />
                      <label class="invert-bubble btn" for="<%= category.id %>"><%= category.category %></label>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
            <input name="commit" type="submit" class="adept-btn filter-form-button" value="Submit Preferences" data-disable-with="Search" />
          </form>
        </div>
      </div>
    </div>
  </div>
  <%= link_to "Add Venue", new_venue_path, class: "add-venue-btn adept-btn large" %>
  <div class="map"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div
