<div class="venue-banner">
  <% if @venue.photos.count > 0 %>
   <%= cl_image_tag @venue.photos.first.key, :quality => "auto", :fetch_format=>:auto %>
  <% end %>
</div>

<div class="container py-5 px-4">
  <!-- Main-->
  <h3><%= @venue.name %></h3>
  <p><%= @venue.venue_category.category %></p>
  <div class="d-flex justify-content-between align-items-top my-4">
      <% if @venue.reviews.count == 0 %>
        No reviews yet
     <% else %>
        <div>
          <i class="fa-solid fa-star" style="color: #F8BD45;"></i>
          <%= pluralize(@venue.reviews.count, 'review') %>
        </div>
     <% end %>
      <%= link_to new_venue_review_path(@venue) do %>
        <i class="fa-solid fa-pencil"></i> Add review
      <% end %>
      <%= link_to (nil) do %>
        <i class="fa-regular fa-heart"></i> Save
      <% end %>
  </div>
  <!-- Category / Address -->
  <div class="location my-4">
    <p><i class="fa-solid fa-location-dot"></i> <%= @venue.address %></p>
  </div>
  <div class="features my-5">
    <h5>Features</h5>
    <ul>
      <% @venue.accessibility_features.each do |feature| %>
        <li><%= feature.feature %></li>
      <% end %>
    </ul>
  </div>
  <!-- Reviews -->
  <div class="reviews my-5">
    <h5>Reviews</h5>
    <% if @venue.reviews.count == 0 %>
      <p>No reviews yet</p>
    <% else %>
      <% @venue.reviews.each do |review| %>
        <div class="review">
          <p><em><%= review.user.first_name %> <%= review.user.last_name %></em></p>
          <p><%= review.content %></p>
          <p>
            <% for i in 1..review.rating %>
                <i class="fa-solid fa-star" style="color: #F8BD45;"></i>
              <% end %>
          </p>
          <small class="text-right"><%= review.created_at.strftime('%m/%d/%Y - %H:%M') %></small>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Back -->
  <%= link_to :back do %>
    <i class="fa-solid fa-fw fa-arrow-left"></i> Back
  <% end %>
</div>
